:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.SearchBar {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 99px;
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 3rem;
}

.searchInput {
  box-sizing: border-box;
  border-radius: 99px;
  border: None;
  width: 82%;
  font-size: 1.2rem;
}

.searchInput:focus, .custom-radius > input:focus {
  outline: none;
}

.searchIcon {
  font-size: 2rem;
  margin: auto 0;
  margin-left: 1vw;
}

.app-menu:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.443);
}

.app-menu {
  font-size: 3rem;
  margin: auto 0;
}

.app-navbar {
  display: flex;
  width: 100%;
}

.app-icon {
  height: 3rem;
}

.app-options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.app-options > button {
  padding: 0.2rem;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.app-options > button:hover {
  cursor: pointer;
}

.filter-panel {
  z-index: 1;
  position: absolute;
  background-color: white;
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  margin-top: 2px;
}

.filter-panel-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: 0.4s ease;
}

.filter-panel-hidden {
  opacity: 0;
  transform: translateY(-20px);
  visibility: hidden;
  transition: 0.4s ease;
}

.filter-inputs {
  display: flex;
  align-items: center;
  padding: 0.12rem 2.5rem;
}

.custom-radius {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 2rem;
}

.custom-radius > h4 {
  margin-right: 1rem;
}

.custom-radius > input {
  margin-right: 1rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 99px;
  border: none;
  padding: 0.5rem;
}

.option-button {
  background-color: white;
  border: none;
  border-radius: 9px;
  padding: 0.5rem;
  margin-left: 2rem;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.option-button.filter{
  margin-left: auto;
}

.option-button:hover{
  cursor: pointer;
  background-color: rgb(225, 225, 225);
}

.option-button.selected{
  background-color: #3D8AF7;
  color: white;
}

h4 {
  font-size: 1.25rem;
}

.error-msg {
  background-color: rgb(245, 59, 59);
  color: white;
  z-index: 1;
  position: absolute;
  display: flex;
  padding: 0rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 5px;
  padding: 10px;
  margin-top: 1rem;
}

.error-msg > button {
  background-color: rgb(245, 59, 59);
  border: none;
  font-size: 2rem;
  color: white;
  margin: 0;
  padding-left: 1rem;
}

.error-msg > button:hover{
  cursor: pointer;
}