:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.SearchBar {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 99px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  height: 3rem;
}

.searchInput {
  box-sizing: border-box;
  border-radius: 99px;
  border: None;
  width: 82%;
  font-size: 1.2rem;
}

.searchInput:focus {
  outline: none;
}

.searchIcon {
  font-size: 2rem;
  margin: auto 0;
  margin-left: 1vw;
}

.app-menu:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.443);
}

.app-menu {
  font-size: 3rem;
  margin: auto 0;
}

.app-navbar {
  display: flex;
  width: 100%;
}

.app-icon {
  height: 3rem;
}

.app-options {
  display: flex;
  flex-direction: column;
}